/* Navbar.css */
.navbar {
  width: 100%;
  background-color: #02C5CB;
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000; /* Ensure it stays on top of other content */
  display: flex;
  align-items: center;
}

.navbar-logo {
  margin-right: auto;
}

.logo {
  height: 40px; /* Adjust the size as needed */
}

.navbar-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-item {
  margin-left: 20px;
}

.navbar-link {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}

.navbar-link:hover {
  text-decoration: underline;
}

.navbar-icon {
  margin-right: 8px;
}

body {
  padding-top: 60px; /* Adjust this value if the navbar height changes */
}